.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.login-form {
  max-width: 400px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
