<!--
<p>login works!</p>
<button (click)="onLogin()">Login</button>
<button (click)="onLoginSuccess()">LoginSuccess</button>
<button (click)="onLogout()">Logout</button>

<button mat-stroked-button (click)="onShowMessage()">Show message</button>
-->
<div class="content">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
    <p>
      <mat-form-field>
        <mat-label>User name</mat-label>
        <input matInput formControlName="username"/>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password"/>
      </mat-form-field>
    </p>
    <button type="submit" mat-button color="primary">Login</button>
  </form>
</div>
