<mat-card *ngFor="let venue of venueList" class="venue-card">
  <mat-card-header>
    <mat-card-title>{{venue.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{venue.description}}</p>
    <p>{{venue.address.country}}, {{venue.address.zipCode}}, {{venue.address.city}}, {{venue.address.street}}</p>
  </mat-card-content>
  <mat-card-actions>
    <a [routerLink]="[venue.id]" mat-button>DETAILS</a>
    <a [routerLink]="[venue.id, 'events']" mat-button>EVENTS</a>
    <button mat-button>NEW EVENT</button>
  </mat-card-actions>
</mat-card>

<mat-paginator [length]="pagingSettings.length"
               [pageSize]="pagingSettings.pageSize"
               [pageSizeOptions]="pagingSettings.pageSizeOptions"
               [pageIndex]="pagingSettings.pageIndex"
               (page)="onPageEvent($event)"
               class="venue-paginator">
</mat-paginator>
